<%- include('../../partials/header'); %> 
<div class="bcm_events bcm-mr-bottom">
   <div class="container">
      <div class="col-md-12 col-sm-12">
         <div class="view-events">
      <h3 class="bcm-heading-red">View Events:</h3>
      <% if (eventbyId) { %>
         <article class="postcard light red">
            <a class="postcard__img_link" href="#">
            <img class="postcard__img" src="<%=eventbyId.image%>"
               alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
               <h1 class="postcard__title red"><a href="#"><%=eventbyId.name%></a></h1>
               <div class="postcard__subtitle small">
                  <time datetime="2020-05-25 12:00:00" class="single-event-view">
                  <i class="fas fa-calendar-alt mr-2"></i><%= moment(eventbyId.time).format('DD MMM YYYY hh:mm a') %>
                  </time>
               </div>
               <div class="postcard__bar"></div>
               <div class="postcard__preview-txt">
                  <p><b>Description: </b> <span><%=eventbyId.description%></span></p>
                  <p><b>Location: </b> <span><%=eventbyId.location%></span></p>
                  <p><b>Contact Person: </b> <span><%=eventbyId.arragedBy%></span></p>
                  <p><b>Collection Amount: </b> <span><%=eventbyId.price%> Rs Per Member</span></p>
               </div>
               <!-- <ul class="postcard__tagbox">
                  <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                  <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                  <li class="tag__item play red">
                     <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                  </li>
                  </ul> -->
            </div>
         </article>
         <% } else { %>
            <p>No Events!</p>
            <% } %>
   </div>
</div>
</div>
</div>
<div class="section-margin"></div>
<%- include('../../partials/footer'); %>