
<%- include('../partials/header'); %> 
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.2.2/css/fixedHeader.dataTables.min.css">
<style>
   td, th {
	font-size: inherit !important;
}
th.sorting {
    background: #e30613;
    color: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
   background: #e30613 !important;
    color: #fff !important;
    border: 2px solid #000 !important;
}
#table-filter {
    text-align: right;
    width: 50%;
    float: right;
    display: flex;
}
.add-user{
   margin-left: 1rem;
}
.modal {
    z-index: 1050;
}
.modal-header {
    display: block;
}
.modal-title {
    margin-top: 0;
}
</style>
<% 
            var uniqueArray = helping.reduce((filter, current) => {
               var dk = filter.find(item => item.profession === current.profession);
               if (!dk) {
                 return filter.concat([current]);
               } else {
                 return filter;
               }
             }, []);
            
            %>

<div class="change-role">
   <div class="container">
      <h3>Person List:</h3>
      <table class="table bcm-table-responsive table-bordered add_role-table bcm-responsive-table" id="example">
            <div class="form-group" id="table-filter">
               <select class="form-control" name="familyMembers">
                  <option value="0">Select Person</option>
                
                  <% uniqueArray.map((result2, index)=>{%> -->
                  <option value="<%=result2.profession%>"><%=result2.profession%></option>
                   <% }) %> 
                  
                </select>
                <button class="btn btn-small bcm-btn-red add-user" data-toggle="modal" data-target="#helpModal" data-backdrop="static" data-keyboard="false"> <i class="fas fa-plus"></i> </button>
            </div>
            
         <thead>
            <tr>
               <th>S.no</th>
               <th>Name</th>
               <th>Phone Number</th>
               <th>Profession</th>
            </tr>
         </thead>
         <tbody>
            <% helping.map((result, index)=>{%>
            <tr>
               <td>
                  <span class="">
                  <%=index = index +1%>
                  </span>
               </td>
               <td>
                  <span class="">
                  <%=result.name%>
                  </span>
               </td>
               <td>
                  <span class="">
                  <%=result.phone%>
                  </span>
               </td>
               <td>
                  <span class="">
                  <%=result.profession%>
                  </span>
               </td>
            </tr>
            <% }) %>
         </tbody>
      </table>  
   </div>
</div>
<div id="helpModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Person</h4>
         </div>
         <div class="modal-body">
            <form action="/helping" method="POST">
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name" name="name" required>
               </div>
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="Mobile Number" name="phone" required>
               </div>
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="Profession" name="profession" required>
               </div>
               
               <div class="form-group">
                  <button class="btn btn-small bcm-btn-red"  type="submit">update</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<%- include('../partials/footer'); %>
<script>
   $(document).ready(function (){
    var table = $('#example').DataTable({
       dom: 'lr<"table-filter-container">tip',
       initComplete: function(settings){
          var api = new $.fn.dataTable.Api( settings );
          $('.table-filter-container', api.table().container()).append(
             $('#table-filter').detach().show()
          );
          
          $('#table-filter select').on('change', function(){
             table.search(this.value).draw();   
          });       
       }
    });
   });
  </script>

<script type="text/javascript">
   setTimeout(function () {
       // Closing the alert
       $(' #successMessage').alert('close');
   },3000);
</script>
