<%- include('../../partials/header'); %> 
<div class="bcm_view-recipt">
   <div class="container">
      <h3>View Receipts:</h3>
      <% if (todos.length) { %>
      <ul>
         <li class="todo">
            <label class="table-responsive">
               <table class="table table-bordered">
                  <thead>
                     <tr>
                        <th></th>
                        <th>Full Name</th>
                        <th>Amount</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Occasion</th>
                        <th>familyMembers</th>
                        <th>image</th>
                        <th>Completed</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% todos.map((result)=>{%>
                     <tr>
                        <form action="/complete" method="POST">
                           <% if (result.completed) { %>
                           <td>
                              <input type="checkbox" checked name="completed" class="completed">
                           </td>
                           <td style="max-width:150px;">
                              <span class="completed">
                              <%=result.fullName%>
                              </span>
                           </td>
                           <td>
                              <span class="completed">
                              <%=result.amount%>
                              </span>
                           </td>
                           <td>
                              <span class="completed">
                              <%=result.phone%>
                              </span>
                           </td>
                           <td style="max-width:200px;">
                              <span class="completed" style="max-width:200px;">
                              <%=result.address%>
                              </span>
                           </td>
                           <td>
                              <span class="completed">
                              <%=result.occasion%>
                              </span>
                           </td>
                           <td>
                              <span class="completed">
                              <%=result.familyMembers%>
                              </span>
                           </td>
                           <td>
                              <span class="completed"><img src="<%=result.image%>"
                                 class="img-fluid" id="image"></span>
                           </td>
                           <% } else { %>
                           <td>
                              <input type="checkbox" name="completed">
                           </td>
                           <td style="max-width:150px;">
                              <span>
                              <%=result.fullName%>
                              </span>
                           </td>
                           <td>
                              <span>
                              <%=result.amount%>
                              </span>
                           </td>
                           <td>
                              <span>
                              <%=result.phone%>
                              </span>
                           </td>
                           <td style="max-width:200px;">
                              <span style="max-width:200px;">
                              <%=result.address%>
                              </span>
                           </td>
                           <td>
                              <span>
                              <%=result.occasion%>
                              </span>
                           </td>
                           <td>
                              <span>
                              <%=result.familyMembers%>
                              </span>
                           </td>
                           <td>
                              <span><img src="<%=result.image%>" class="img-fluid"
                                 id="image"></span>
                           </td>
                           <% } %>
                           <td><input type="hidden" value="<%=result._id%>" name="id">
                              <button class="btn btn-small bcm-btn-red"><i class="fas fa-check"></i></button>
                           </td>
                        </form>
                     </tr>
                     <% }) %>
                  </tbody>
               </table>
            </label>
         </li>
      </ul>
      <% } else { %>
      <p>No Receipts!</p>
      <% } %>
   </div>
</div>
<%- include('../../partials/footer'); %>