<%- include('../../partials/header'); %>
<style>
   td,
   input,
   th {
   font-size: inherit !important;
   }
</style>
<div class="bcm_view-recipt">
   <div class="container">
      <h3>View Requirement:</h3>
      <% if (requirement.length >0) { %>
      <ul>
         <li class="todo">
            <label class="table-responsive">
               <table class="table table-bordered">
                  <thead>
                     <tr>
                        <th></th>
                        <th>S.no</th>
                        <th>productName</th>
                        <th>productQuantity</th>
                        <th>productColor</th>
                        <th>budget</th>
                        <th>description</th>
                        <th>Complete</th>
                        <th>Update</th>
                        <th>Delete</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% requirement.map((result, index)=>{%>
                     <tr>
                        <form action="/completeRequirement" method="POST">
                           <% if (result.completed) { %>
                           <td>
                              <input type="checkbox" checked name="completed" class="completed">
                           </td>
                           <td>
                              <span class="completed">
                              <%=index=index +1%>
                              </span>
                           </td>
                           <td>
                              <span class="completed">
                              <%=result.productName%>
                              </span>
                           </td>
                           <td>
                              <span class="completed">
                              <%=result.productQuantity%>
                              </span>
                           </td>
                           <td>
                              <span class="completed">
                              <%=result.productColor%>
                              </span>
                           </td>
                           <td>
                              <span class="completed">
                              <%=result.budget%> RS
                              </span>
                           </td>
                           <td>
                              <span class="completed">
                              <%=result.description%>
                              </span>
                           </td>
                           <% } else { %>
                           <td>
                              <input type="checkbox" name="completed">
                           </td>
                           <td>
                              <span class="">
                              <%=index=index +1%>
                              </span>
                           </td>
                           <td>
                              <span>
                              <%=result.productName%>
                              </span>
                           </td>
                           <td>
                              <span>
                              <%=result.productQuantity%>
                              </span>
                           </td>
                           <td>
                              <span>
                              <%=result.productColor%>
                              </span>
                           </td>
                           <td>
                              <span>
                              <%=result.budget%> RS
                              </span>
                           </td>
                           <td>
                              <span>
                              <%=result.description%>
                              </span>
                           </td>
                           <% } %>
                           <td><input type="hidden" value="<%=result._id%>" name="id">
                              <button class="btn btn-small bcm-btn-red"><i class="fas fa-check"></i></button>
                           </td>
                        </form>
                        <td>
                           <button class="btn btn-small bcm-btn-red" data-toggle="modal" data-target="#requirementModal<%=result._id%>" data-backdrop="static" data-keyboard="false"> <i class="fas fa-pencil-alt"></i> </button>
                           <div id="requirementModal<%=result._id%>" class="modal fade" role="dialog">
                              <div class="modal-dialog">
                                 <div class="modal-content">
                                    <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                                       <h4 class="modal-title">Update Requirement</h4>
                                    </div>
                                    <div class="modal-body">
                                       <form action="/updateRequirement" method="POST">
                                          <div class="form-group">
                                             <input type="text" class="form-control" placeholder="product Name" name="productName" value="<%=result.productName%>">
                                          </div>
                                          <div class="form-group">
                                             <input type="text" class="form-control" placeholder="product Quantity" name="productQuantity" value="<%=result.productQuantity%>">
                                          </div>
                                          <div class="form-group">
                                             <input type="text" class="form-control" placeholder="product Color" name="productColor" value="<%=result.productColor%>">
                                          </div>
                                          <div class="form-group">
                                             <input type="text" class="form-control" placeholder="Budget" name="budget" value="<%=result.budget%>"> 
                                          </div>
                                          <div class="form-group">
                                             <input type="text" class="form-control" placeholder="Description" name="description" value="<%=result.description%>">
                                          </div>
                                          <div class="form-group">
                                             <input type="hidden" value="<%=result._id%>" name="id">
                                             <button class="btn btn-small bcm-btn-red"  type="submit">update</button>
                                          </div>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </td>
                        <td>
                           <form action="/deleteRequirement" method="POST">
                              <input type="hidden" value="<%=result._id%>" name="id">
                              <button class="btn btn-small bcm-btn-red" type="submit"><i class="fas fa-trash-alt"></i></button>
                           </form>
                        </td>
                     </tr>
                     <% }) %>
                  </tbody>
               </table>
            </label>
         </li>
      </ul>
      <% } else { %>
      <p>No Requirement Currently!</p>
      <% } %>
   </div>
</div>
<div class="bcm_view-recipt">
   <div class="container">
      <h3>View Services:</h3>
      <% if (service.length >0) { %>
      <ul>
         <li class="todo">
            <label class="table-responsive">
               <table class="table table-bordered">
                  <thead>
                     <tr>
                        <th></th>
                        <th>S.no</th>
                        <th>serviceName</th>
                        <th>address</th>
                        <th>phone</th>
                        <th>description</th>
                        <th>Complete</th>
                        <th>Update</th>
                        <th>Delete</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% service.map((result, index)=>{%>
                     <tr>
                        <form action="/completeService" method="POST">
                           <% if (result.completed) { %>
                           <td>
                              <input type="checkbox" checked name="completed2" class="completed">
                           </td>
                           <td>
                              <span class="completed">
                              <%=index=index +1%>
                              </span>
                           </td>
                           <td>
                              <span class="completed">
                              <%=result.serviceName%>
                              </span>
                           </td>
                           <td>
                              <span class="completed">
                              <%=result.address%>
                              </span>
                           </td>
                           <td>
                              <span class="completed">
                              <%=result.phone%>
                              </span>
                           </td>
                           <td>
                              <span class="completed">
                              <%=result.description%>
                              </span>
                           </td>
                           <% } else { %>
                           <td>
                              <input type="checkbox" name="completed">
                           </td>
                           <td>
                              <span class="">
                              <%=index=index +1%>
                              </span>
                           </td>
                           <td>
                              <span>
                              <%=result.serviceName%>
                              </span>
                           </td>
                           <td>
                              <span>
                              <%=result.address%>
                              </span>
                           </td>
                           <td>
                              <span>
                              <%=result.phone%>
                              </span>
                           </td>
                           <td>
                              <span>
                              <%=result.description%>
                              </span>
                           </td>
                           <% } %>
                           <td><input type="hidden" value="<%=result._id%>" name="id">
                              <button class="btn btn-small bcm-btn-red"><i class="fas fa-check"></i></button>
                           </td>
                        </form>
                        <td>
                           <button class="btn btn-small bcm-btn-red" data-toggle="modal" data-target="#serviceModal<%=result._id%>" data-backdrop="static" data-keyboard="false"> <i class="fas fa-pencil-alt"></i> </button>
                           <div id="serviceModal<%=result._id%>" class="modal fade" role="dialog">
                              <div class="modal-dialog">
                                 <div class="modal-content">
                                    <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                                       <h4 class="modal-title">Update Service</h4>
                                    </div>
                                    <div class="modal-body">
                                       <form action="/updateService" method="POST">
                                          <div class="form-group">
                                             <input type="text" class="form-control" placeholder="Service Name" name="serviceName" value="<%=result.serviceName%>" >
                                          </div>
                                          <div class="form-group">
                                             <input type="text" class="form-control" placeholder="Address" name="address" value="<%=result.address%>" disabled readonly>
                                          </div>
                                          <div class="form-group">
                                             <input type="text" class="form-control" placeholder="Mobile Number" name="phone" value="<%=result.phone%>" disabled readonly>
                                          </div>
                                          <div class="form-group">
                                             <input type="text" class="form-control" placeholder="Description" name="description" value="<%=result.description%>">
                                          </div>
                                          <div class="form-group">
                                             <input type="hidden" value="<%=result._id%>" name="id">
                                             <button class="btn btn-small bcm-btn-red"  type="submit">update</button>
                                          </div>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </td>
                        <td>
                           <form action="/deleteService" method="POST">
                              <input type="hidden" value="<%=result._id%>" name="id">
                              <button class="btn btn-small bcm-btn-red" type="submit"><i class="fas fa-trash-alt"></i></button>
                           </form>
                        </td>
                     </tr>
                     <% }) %>
                  </tbody>
               </table>
            </label>
         </li>
      </ul>
      <% } else { %>
      <p>No Service Currently!</p>
      <% } %>
   </div>
</div>
<%- include('../../partials/footer'); %>